<div class="view">
  <h1>
    <a ng-href="{{ctrl.recipe.source}}">{{ctrl.recipe.name}}</a>
    <button type="button" class="btn btn-default" id="edit" ng-click="ctrl.edit()">Edit</button>
  </h1>
  <h3>
    {{ctrl.recipe.typeLabel}} -- {{ctrl.recipe.subtypeLabel}}
  </h3>
  <p>
    <label>Original Gravity</label>
    <span>{{ctrl.recipe.originalGravity}}</span>
  </p>
  <p>
    <label>Boil Time</label>
    <span>{{ctrl.recipe.boilTime}}</span>
  </p>
  <h2>Description</h2>
  <p ng-bind-html="ctrl.recipe.description"></p>
  <h2>Malt</h2>
  <p ng-repeat="malt in ctrl.recipe.maltAdditions">
    <span>{{malt.pounds}}</span>
    <span>Pounds of</span>
    <span>{{malt.label}}</span>
    <span>with</span>
    <span>{{malt.remainingMinutes}}</span>
    <span>minutes remaining</span>
  </p>
  <h2>Hops</h2>
  <p ng-repeat="hop in ctrl.recipe.hopAdditions">
    <span>{{hop.aau}}</span>
    <span>AAU of</span>
    <span>{{hop.label}}</span>
    <span>at</span>
    <span>{{ hop.remainingMinutes}}</span>
    <span>minutes</span>
  </p>
  <h2 ng-if="ctrl.recipe.finingAdditions">Finings</h2>
  <p ng-repeat="fining in ctrl.recipe.finingAdditions">
    <span>{{fining.amount}}</span>
    <span>{{fining.unit}}</span>
    <span>of</span>
    <span>{{fining.type}}</span>
    <span>with</span>
    <span>{{fining.remainingMinutes}}</span>
    <span>minutes remaining</span>
  </p>
  <h2>Yeast</h2>
  <p>{{ctrl.recipe.yeast}}</p>
</div>
