<div class="create" ng-if="ctrl.currentUser">
  <div class="row">
    <div class="col-sm-2"></div>
    <h2 class="col-sm-10">Create a Recipe</h2>
  </div>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="recipe name" ng-model="ctrl.recipe.name">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Source</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="http://" ng-model="ctrl.recipe.source">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Description</label>
      <div class="col-sm-10">
        <textarea class="form-control" ui-tinymce="ctrl.editorOptions" ng-model="ctrl.recipe.about"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Type</label>
      <select class="col-sm-10" name="style" ng-model="ctrl.recipe.style">
        <option ng-repeat="style in ctrl.beerStyles" value="{{style.value}}">{{style.label}}</option>
      </select>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Subtype</label>
      <select class="col-sm-10" name="subtype">
        <option ng-repeat="subtype in ctrl.beerStyles[ctrl.recipe.style].subtypes" value="{{subtype.value}}">{{subtype.label}}</option>
      </select>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Original Gravity</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="ctrl.recipe.originalGravity">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Boil Time</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="ctrl.recipe.boilTime">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Malt Additions</label>
      <div class="col-sm-10">
        <input type="number" ng-model="ctrl.newMalt.pounds"/>
        <span> pounds of </span>
        <input type="text" ng-model="ctrl.newMalt.label"/>
        <span> with </span>
        <input type="number" ng-model="ctrl.newMalt.remainingMinutes"/>
        <span> minutes remaining</span>
        <button class="add-feature btn btn-default btn-sm" ng-click="ctrl.addMalt()">Add</button>
      </div>
      <div class="col-sm-10 col-sm-offset-2">
        <div class="tag btn btn-info" ng-repeat="malt in ctrl.recipe.maltAdditions">
          <span>{{malt.pounds}} pounds of {{malt.label}} with {{malt.remainingMinutes}} minutes remaining</span>
          <span class="glyphicon glyphicon-remove-circle" ng-click="ctrl.removeMalt($index)"></span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Hop Additions</label>
      <div class="col-sm-10">
        <input type="number" ng-model="ctrl.newHop.aau"/>
        <span> AAUs of </span>
        <input type="text" ng-model="ctrl.newHop.type"/>
        <span> with </span>
        <input type="number" ng-model="ctrl.newHop.remainingMinutes"/>
        <span> minutes remaining</span>
        <button class="add-feature btn btn-default btn-sm" ng-click="ctrl.addHop()">Add</button>
      </div>
      <div class="col-sm-10 col-sm-offset-2">
        <div class="tag btn btn-info" ng-repeat="hop in ctrl.recipe.hopAdditions">
          <span>{{hop.aau}} AAUs of {{hop.type}} with {{hop.remainingMinutes}} minutes remaining</span>
          <span class="glyphicon glyphicon-remove-circle" ng-click="ctrl.removeHop($index)"></span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Yeast</label>
      <div class="col-sm-10">
        <input type="text" ng-model="ctrl.recipe.yeast"/>
      </div>
    </div>

    <div class="row">
      <a class="col-sm-offset-10 btn btn-default" ui-sref="root">Cancel</a>
      <button class="btn btn-primary" ng-click="ctrl.submit()">Submit</button>
    </div>
  </form>
</div>
